@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.logo h2 {
    font-size: 35px;

}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}
.card {
    width: 320px;
    background: #f8f9fb;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.05);
    font-family: sans-serif;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h3 {
    margin: 0;
}



.desc {
    margin: 10px 0;
    color: #555;
}

.date {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
}

.actions {
    display: flex;
    gap: 10px;
}

button {
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.edit {
    background: #fff;
    border: 1px solid #ddd;
}

.delete {
    background: #ef4444;
    color: white;
}


.card:hover{
    box-shadow: 1px 1px 5px gray;
    transition: all 0,9s ease-in-out;
}

